<!-- Navbar start -->
<div class="container-fluid fixed-top">
	<div class="container topbar  d-none d-lg-block" style="background-color: #86469C;">
		<div class="d-flex justify-content-between">
			<div class="top-info ps-2">
				<small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">Dhaka, Bangladesh</a></small>
				<small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#"
						class="text-white">abdulhasib2030@gmail.com</a></small>
			</div>
			<div class="top-link pe-2">
				<a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
				<a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
				
			</div>
		</div>
	</div>
	<div class="container px-0">
		<nav class="navbar navbar-light bg-white navbar-expand-xl">
			<a href="{% url 'home' %}" class="navbar-brand">
				<h1 style="color: #86469C;" class=" display-6">THAJ Shopping </h1>
			</a>
			<button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
				<span class="fa fa-bars " style="color: #86469C;"></span>
			</button>
			<div class="collapse navbar-collapse bg-white" id="navbarCollapse">
				<div class="navbar-nav mx-auto">
					<a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
					<a href="{% url 'store' %}" class="nav-item nav-link">Shop</a>
					
					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Categories</a>
						<div class="dropdown-menu m-0 bg-secondary rounded-0">
							{% for i in categories %}

							<a href="{% url 'products_by_category' i.id %}" class="dropdown-item">{{i.category_name}}</a>										
							{% endfor %}

						</div>
					</div>
					<a href="contact.html" class="nav-item nav-link">Contact</a>
				</div>
				<div class="d-flex m-3 me-0">
					<form action="{% url 'search' %}" class="search" style="margin-right: 15px;" method="GET">
            <div class="input-group w-100">
              <input
                type="text"
                class="form-control"
                style="width: 60%"
                placeholder="Search"
                name="keyword"
              />

              <div class="input-group-append">
                <button class="btn btn-success"  type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>




					<a href="{% url 'cart' %}" class="position-relative me-4 my-auto">
						<i class="fa fa-shopping-bag fa-2x" style="color: #86469C;"></i>
						<span
							class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
							style="top: -5px; left: 15px; height: 20px; min-width: 20px;">{{quantity}}</span>
					</a>


					{% if user.is_authenticated %}
					<!-- <a href="" class="my-auto">
						<i class="fas fa-user fa-2x"></i>
					</a> -->

					<ul class="navbar-nav flex-row ms-auto align-items-center ">
						<li class="nav-item dropdown ">
							<a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
								aria-expanded="false">
		
								<img src="" alt="" width="35" height="35" class="rounded-circle">
		
							</a>
		
							<div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
								<div class="message-body">
									<a href="{% url 'profile' %}" class="d-flex align-items-center gap-2 dropdown-item">
										<i class="ti ti-user fs-6"></i>
										<p class="mb-0 fs-3">My Profile</p>
									</a>
		
	 	
									<a href="{%url 'logout' %}" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
								</div>
		
							</div>
						</li>
					</ul>
					{% else %}
					<a href="{% url 'login'%}" style="color: #86469C;" class="my-auto p-2">
						Login |
					</a>
					<a href="{% url 'signup'%}" style="color: #86469C;" class="my-auto">
						SigUp
					</a>
					{% endif %}
				</div>
			</div>
		</nav>
	</div>
</div>
<!-- Navbar End -->

<!-- Modal Search Start -->
<!-- <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content rounded-0">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body d-flex align-items-center">

<form action="{% url 'search' %}" class="search" method="GET" >
				<div class="input-group w-75 mx-auto d-flex">
					<input type="search"  name="keyword" class="form-control p-3" placeholder="Search" aria-describedby="search-icon-1">
					<span  id="search-icon-1" class="input-group-text p-3"> <button type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div>
</form>

			</div>
		</div>
	</div>
</div> -->
<!-- Modal Search End -->