{% extends "base.html" %}

{% block content %}


<!-- Modal HTML -->
<div class="container " style="margin-top: 150px;">
  <div class="row d-flex cart align-items-center justify-content-center">
      <div class="col-md-10">
          <div class="card">
             
              <div class="row g-0">
                  <div class="col-md-12 border-right p-5">
                      <div class="text-center order-details">
                          <div class="d-flex justify-content-center mb-5 flex-column align-items-center"> <span class="check1"><i class="fa fa-check"></i></span> <span class="font-weight-bold">Order Confirmed</span> <small class="mt-2">Your Product will go to you soon</small> <a href="#" class="text-decoration-none invoice-link">View Invoice</a> </div> 
                          <a href="{% url 'store' %}"><button class="btn btn-info btn-block order-button" style="background-color: #86469C; color:white">Continue Shopping</button></a>
                      </div>
                  </div>
                  
              </div>
              <div> </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}


